@page
@model SupermarketWEB.Pages.Account.ForgotPasswordModel
@{
}

<style>
    body {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-geometrico-abstracto-diseno-poli_1048-8354.jpg?w=740&t=st=1700592028~exp=1700592628~hmac=203b7a29b0ddd2e8091577648c4e0cb4133e021f266a13158dcdd4abb110d14f');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif; /* Establece la fuente según tus preferencias */
    }

    .formulario {
        max-width: 300px;
        margin: auto;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mejorar la legibilidad */
    }

    .form-label {
        font-weight: bold;
    }

    .btn-container{
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

     .logo-container {
        text-align: center;
     }

     .logo {
        max-width: 50%;
        width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
        margin: 0 auto; /* Centra la imagen horizontalmente */
     }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }
</style>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidé mi contraseña</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form method="post" class="formulario">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" asp-for="Input.Email" id="InputEmail" />
            <div>
                <span class="text-danger" asp-validation-for="Input.Email"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar enlace de restablecimiento</button>
    </form>
</body>
</html>