@page
@model IndexModel
@{
    ViewData["Title"] = "welcome to exotic games";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Exotic Games</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
