@page
@model IndexModel
@{
    ViewData["Title"] = "welcome to exotic games";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Exotic Games</h1>
    <img src="https://img.unocero.com/2021/11/Videojuegos-fuentes-de-informacion-gamers--1200x600.jpg"
    alt="Sample Photo" width="550px" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
