@page
@model IndexModel
@{
    ViewData["Title"] = "welcome to exotic games";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Exotic Games</h1>
    <img src="https://img.unocero.com/2021/11/Videojuegos-fuentes-de-informacion-gamers--1200x600.jpg"
    alt="Sample Photo" width="550px" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 text-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://www.mirao.com.br/media/mageplaza/blog/post/d/u/dualshock4.jpg" alt="Sample Photo" width="150px" />
                            <p>CONTROLES</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://media.istockphoto.com/id/687958304/es/foto/consola-de-videojuegos-sony-jugar-estaci%C3%B3n-4-y-dualshock.jpg?s=612x612&w=0&k=20&c=VxyBMcgAxOHwSDIEkC0MP2w6BBBP_-Dd_tvUXW2K6As=" alt="Sample Photo" width="150px" />
                            <p>CONSOLAS</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://as01.epimg.net/meristation/imagenes/2020/06/12/noticias/1591974750_403673_1591975820_noticia_normal.jpg" alt="Sample Photo" width="180px" />
                            <p>JUEGOS</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://i.blogs.es/4b4b29/1366_2000/450_1000.webp" alt="Sample Photo" width="180px" />
                            <p>PS PLUS</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/ShopSells/Index">
                            <img src="https://http2.mlstatic.com/D_NQ_NP_864946-MCO54826079569_042023-V.jpg" alt="Sample Photo" width="180px" />
                            <p>MANTENIMIENTO</p>
                        </a>
                   </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

