@page
@model SupermarketWEB.Pages.Compras.CreateModel
@{
    ViewData["Title"] = "Sell ";
}
<h1>Create Sell</h1>

<h4>Sell </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Compra.Name" class="control-label"></label>
                <input asp-for="Compra.Name" class="form-control" />
                <span asp-validation-for="Compra.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compra.Price" class="control-label"></label>
                <input asp-for="Compra.Price" class="form-control" />
                <span asp-validation-for="Compra.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compra.Amount" class="control-label"></label>
                <input asp-for="Compra.Amount" class="form-control" />
                <span asp-validation-for="Compra.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compra.Description" class="control-label"></label>
                <input asp-for="Compra.Description" class="form-control" />
                <span asp-validation-for="Compra.Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="CreateVenta" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
